<section class="section">
<div class="container">
  <div class="content">
    <div class="columns title-bar is-mobile">
      <div class="column is-4 bar-back-arrow">
        <a class="button is-white" routerLink="">
        <span class="icon is-large ">
           <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </span>
        </a>
      </div>
      <div class="column is-8 bar-title ">
        <h1 class="title is-1">Saturno</h1>
      </div>
    </div>
    <h2>Contexto</h2>
    <p>No Brasil existem empresas que usufluem debenefícios fiscais concedidos pelo governo <a href="http://www.planalto.gov.br/ccivil_03/Leis/L8248.htm">Lei de Informática n° 8.248, de 23.10.1991</a>
      O benefício concedido hoje é de redução do Imposto sobre Produtos Industrializados - IPI para bens de informática e automação produzidos no país. E em contrapartida, a empresa deve investir anualmente em atividades de pesquisa e desenvolvimento em tecnologias da informação a serem realizadas no país.
      No fim de cada ano, as empresas devem compor um relatório justificando o investimento, as atividades, os valores e a inovação agregada por elas.
    </p>
    <h2>Problema</h2>
    <p>Para criar relatórios de qualidade, atendendo os critérios do governo  é preciso ter um monitoramento das atividades, horas gastas e pessoas ao decorrer do anos. Há muitos projetos usando ferramentas distintas e a informação se torna inconsistente e complicada de ser validada. No fim do ano muitas vezes os gerentes que são responsáveis pela escrita dos relatórios sentem dificuldades em coletar informações suficientes.</p>
    <h2>Desafio</h2>
    <p>Neste projeto atuei como designer de produto (UI/UX), participando da coleta de requisitos e pesquisa, prototipando, fazendo o desenho da interface e acompanhando o processo de desenvolvimento.</p>
    <h2>Meu papel</h2>
    <p>Neste projeto atuei como designer de produto (UI/UX), participando da coleta de requisitos e pesquisa, prototipando, fazendo o desenho da interface, acompanhando e fornecendo suporte durante o processo de desenvolvimento.</p>
    <h2>Pesquisa</h2>
    <h4>Ferramenta em uso na empresa</h4>
    <p>A empresa usada como base possuía uma ferramenta que já era utilizada para o reporte de atividades. Era um sistema com pouco tempo de implantação, desenvolvido na própria empresa, mas que recebia diversas reclamações e que os usuários não estavam utilizando regularmente.
    </p>
    <h4>Partes envolvidas</h4>
    <p>Pela natureza do problema e para melhor entendê-lo, foram utilizados alguns conceitos do design participativo, ferramentas tais como a cebola semiótica e o quadro de avaliações.Foi feito um levantamento das partes envolvidas, durante um workshop de design thinking.
    </p>
    <ul>
      <li>Governo/MCTI:  Responsável por fiscalizar e garantir que as empresas estão seguindo as recomendações e estão de acordo com as leis em vigor.
      </li>
      <li>Empresa/Governança: Setor da empresa responsável por garantir que a empresa está cumprindo as obrigações de P&D e que os relatórios estão sendo gerados com qualidade.</li>
      <li>Empresa/Gerencia: Todos os cargos de gerência envolvidos,aqueles que tem por responsabilidade gestão de recursos e projetos. É responsabilidade dos gestores escreverem e revisarem o conteúdo necessário para a composição do relatório.</li>
      <li>.Empresa/Desenvolvimento: Corpo técnico da empresa, desenvolvedores de software, designers, analistas e funcionários que trabalham de maneira mais técnica nos projetos.
      </li>
    </ul>
    <p>Após a análise de stakeholders, foi identificado que a gerência e os desenvolvedores
      seriam os usuários primários do sistema.
    </p>

    <h4>Percecepção dos usuários</h4>
    <p>A primeira etapa foi constituída de uma avaliação da ferramenta existente através de entrevistas com os usuários da ferramenta. O ponto principal foi entender a percepção de uso e da proposta do sistema.</p>
    <h4>Insights</h4>
    <ul>
      <li> O sistema da ferramenta atual era incompreendido e muitos até sugeriram utilizar ferramentas como o Jira para o mesmo propósito.</li>
      <li>Os usuários não entendiam bem o que era lei de informática e nem qual era a necessidade de reportar suas atividades.</li>
      <li>Os usuários sempre esquecem de reportar horas e reclamavam que no sistema atual havia um prazo de dois dias.</li>
      <li> Os usuários reclamavam dos erros e inconsistência do sistema atual.</li>
      <li>Havia dificuldade de entender atividades, tarefas e suas diferença para outras ferramentas.</li>
    </ul>
    <h4>Pesquisa de ferramentas</h4>
    <p>Uma vez que os tiveram dúvidas sobre a possibilidade de se utilizar uma nova ferramenta, realizei uma pesquisa de ferramentas. Encontrei quatro ferramentas: Jira, Taiga, Monday.
      As três são ferramentas de gestão de projetos, focadas no planejamento. Os funcionários entrevistados já usavam Jira e tinha até dificuldade de diferenciar as atividades do Jira e da ferramenta que usam para reportar o trabalho de inovação.
      A grande limitação do Jira seria que a empresa o usa para o contexto de planejamento e para o relatório de inovação, informações como reuniões e treinamentos são importantes e estes não estão no Jira.
    </p>
    <h4>Entrevistas com stakeholders</h4>
    <p>
      Para entender melhor as necessidades dos gerentes e demais stakeholders, conduzi entrevistas. O principal entendimento foi sobre o que eram as atividades e quais informações eram úteis para os relatórios. Dessa discussão veio a definição de atividades e tarefas.
    </p>

    <h4>Insights</h4>
    <ul><li>Atividades são executadas sobre um período de tempo médio ou longo e podem ser executadas por mais de uma pessoa, gerentes ou desenvolvedores.</li>
  <li>  Tarefas são executadas num curto período de tempo e são únicas ou possuem aspecto único para cada integrante do projeto.
  </li><li>  O jira possui limitações e é utilizados em diversos projetos, tanto em português como em inglês.
      </li>
    </ul>
    <h4>Reframing</h4>
    <p>O problema é o monitoramento de progresso e agregação de valor de atividades ao longo do ano.Trata-se da gestão de inovação em projetos e não do planejamento de tarefas.</p>
    <h4>Proposta de valor</h4>
    <figure class="image">
      <img src="/assets/valueproposition.png">
    </figure>
    <h4>Personas</h4>
    <p>De todas as partes envolvidas e a partir das entrevistas com gerentes e desenvolvedores foram desenvolvidas proto-personas para ajudar a nortear o processo de design.
    </p>
    <figure class="image">
      <img src="/assets/persona-clarice.png">
    </figure>
    <figure class="image">
      <img src="/assets/persona-zacarias.png">
    </figure>
    <h4>Wireframes</h4>
    <p> O processo de design se iniciou com o desenho de esboços em papel e wireframes. Articulados por disussão em quadro branco, validação com usuários.</p>
    <figure class="image">
      <img src="/assets/wireframes.png">
    </figure>
    <a href="https://drive.google.com/file/d/1qV5y-XzI4IJb5Q7NwQ0sM8kNDLyBGnoJ/view?usp=sharing">Download em alta resolução</a>
    <h4>Protótipo</h4>
    <p>Após a etapa de wireframes e suas validações, foram desenvolvidos protótipos em alta fidelidade, nesse momento começou a colaboração com um desenvolvedor
    front-end que implementou o sistema em React. Minha função além de criar os protótipos no Figma, foi de validar a implementação dos mockups além de ajustes em
      no código.</p>
    <p>Além dos protótipos da aplicação web, também foi desenvolvido o email de alerta para os usuárips e a identidade visual.</p>

    <figure class="image">
      <img src="/assets/timesheet.png">
    </figure>
    <figure class="image">
      <img src="/assets/people.png">
    </figure>
    <figure class="image">
      <img src="/assets/projects.png">
    </figure>
    <figure class="image">
      <img src="/assets/Email-aviso.png">
    </figure>
    <h4>Conclusão</h4>
    <p>Este projeto está próximo de sua implantação. Até o momento, tem sido um grande aprendizado atuar omo UI/UX num problema complexo e que envolve diversas perspectivas
    de négocios, além de todas as necessidades do usuário.
    Está sendo de grande valia utilizar conceitos de design thinking em conjunto com design participativo.</p>

  </div>
</div>
</section>
<app-footer></app-footer>
