
.footer{
  background-color: #1D414D;
  padding-bottom: 3em;
.container{
  height:4vh;
  display: flex;
  align-items:center;
  justify-content:center;
}
a{
  padding-left:5vw;
}

  .button.is-medium{
    color:white;
    background:none;
    border:none;
  }
}
