<section class="section">
<div class="container">
  <div class="content">

    <div class="columns title-bar is-mobile">
      <div class="column is- bar-back-arrow">
        <a class="button is-white" routerLink="">
        <span class="icon is-large ">
           <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </span>
        </a>
      </div>
      <div class="column is-8 bar-title ">
        <h1 class="title is-2">Acalmar</h1>
      </div>
    </div>


    <h2>Problema</h2>
    <p>Ansiedade e depressão são doenças estigmatizadas. Às vezes, até nos sentimos com medo de nos expor, queremos procurar ajuda mas não nos sentimos a vontade para tal. A motivação para esse trabalho era entender o que as pessoas poderiam precisar e que alguma tecnologia lhes pudesse fornecer. Não queriamos focar necessariamente nessas doenças, mas em questões que pudessem ser comum a elas.</p>

    <h2>Clarificando a ideia</h2>
    <p>Exploramos a ideia e entendendo melhor qual abordagem tomar. Para isso usamos ferramentas da semiótica organizacional. O intuito era explorar quais todas as partes interessadas , quais os problemas de cada parte e possiveis ideias para resolvê-los.</p>
    <h2>Ideias semelhantes</h2>
    <p>Quando estavamos começando a pensar no contexto fizemos benchmarking com soluções já existentes e uma breve análise do que cada uma realizava. Nesta fase nos deparamos com as seguinte soluções disponíveis:
    </p>
    <ul>
      <li><a href="https://play.google.com/store/apps/details?id=br.com.app.gpu1622660.gpu9b5c43256d3faa5c3ad1ef7369f09620&hl=pt_BR">Querida Ansiedade(app para Android)</a></li>
      <li><a href="https://www.7cups.com">Seven cups of tea</a></li>
      <li>Grupos de ajuda mútua encontrados no Facebook</li>
    </ul>
    <h2>Estudando o contexto</h2>
    <p>Nesta fase todos os integrantes do grupo exploraram técnicas de pesquisas que podem ser utilizadas para entender o contexto do problema. Duas técnicas aplicadas foram Image Sorting por outro integrante do grupo e entrevistas com os usuários que foram aplicados por mim. Além disso fizemos uma observação de como é a utilização o site seven cups of tea, que têm um propósito semelhante ao nosso.
    </p>
    <p>Desses métodos conseguimos chegar nos seguintes insights:
    </p>
    <ul>
      <li>As vezes a sensação de estar sozinho gera agonia.</li>
      <li>Depressão e ansiedade são estigmatizadas e algumas pessoas sentem receio em procurar ajuda.</li>
      <li> A demora no atendimento no Centro de Prevenção de Suicídio causava ansiedade</li>
      <li>Algumas pessoas não conseguem procurar ajuda profissional por medo ou vergonha</li>
      <li>Queria pedir ajuda mas tinha medo de incomodar</li>
    <li>Arte pode fazer bem para momentos de stress.</li>
    </ul>
    <p>Desses insights escolhemos três o número 1, número 2 e número 6. Em seguida desenvolvemos protótipos de baixo nível que exploravam esses insights. Para isso ocorreu o reframe do problema e ao invés de focarmos em pessoas com depressão em ansiedade o que poderia implicar em ter mais conhecimento especifico sobre essas doenças, decidimos por focar em promover um solução que ajudasse pessoas a sentirem menos sozinhas, a desabafarem e sentirem melhores consigo mesmas.</p>
      <h2>Os usuários</h2>
    <p>Para o projeto usamos proto-personas para nortear o processo de prototipação e para contextualizar nossa solução. Basicamente dividimos nossos usuários em dois grupos, os que buscam ajuda e os que buscam ajudar. A partir desses dois grupos, construímos nossa solução.
    </p>
    <h2>Prótótipos de baixa fidelidade e validação</h2>
    <p>Nesta etapa cada integrante do grupo desenvolveu protótipos de baixo nível usando papel e caneta ou mesmo utilizando Balsamiq.
    </p>
    <figure class="image">
      <img src="/assets/acalmar1.png">
    </figure>
    <figure class="image">
      <img src="/assets/acalmar2.jpeg">
    </figure>
    <p>
    Com os protótipos individuais em mãos fizemos um brainstorm e apresentamos para o grupo a ideia era compartilha o que fizemos e gerar novas ideias.
      Os protótipos foram utilizados para gerar uma solução que possui elementos de cada protótipo, além disso alguns elementos se repetiram nos protótipos. Esses elementos foram utilizados na nossa solução a qual criamos um protótipo para ela.</p>
    <h2>Acalmar</h2>
    <p>Decidimos por criar um aplicativo móvel em que a pessoa pudesse se conectar com pessoas para desabafar, pudesse preencher um diário com seus desabafos e compartilhar trechos com o público, além de procurar ajuda profissional e ter exercicios de relaxamento. Nosso aplicativo se chama Acalmar pela união de acalma, alma e amar.
      Foi gerado um protótipo em Balsamiq do Acalmar e este foi avaliado por potenciais usuários num teste de usabilidade em sala de aula com os wireframes impressos em papel sulfite, possíveis usuários interagiram com o protótipo e relataram sua experiência em voz alta.
      Para avaliação dividimos os usuários em dois grupos: aqueles que procuram ajuda e aqueles que querem ajudar e validamos os fluxos de usuários com qualquer um deles.
    Quais valores e principais objetivos são endereçados pela solução?
  </p>
  <ul>
    <li>Colaboração: Pessoas num ambiente colaborativo em que elas relatam suas histórias e ajudam umas as outras.</li>
    <li>Empatia: Principal valor da aplicação, fazer com que pessoas sejam elas terapeutas ou pacientes empatizem umas com as outras, sem necessariamente terem algum diagnóstico de ansiedade e/ou depressão.</li>
    <li>Isolamento: Utilizar recursos para que promovam encontros de pessoas para conversar ou mesmo que elas conversem online, apenas com o intuito de compartilharem suas histórias e acrescentarem umas as outras.</li>
    <li>Ajuda imediata: Possibilidade de pedir ajuda e fornecer ajuda imediata.</li>
  </ul>

      <figure class="image">
        <img src="/assets/acalmar4.jpeg">
      </figure>
      <h2>Protótipos e validação</h2>
      <p>Com os protótipos de alta fidelidade foram feitos testes de usabilidade, seguidos de entrevistas semi — estruturada. Desta vez os usuários conseguiam utilizar uma versão em alto nível de nossa aplicação e ter uma sensação mais próxima do real de como seria utilizar a aplicação. Foi possível observar que as avaliações feitas com os protótipos de baixa fidelidade e as melhorias resultantes desses testes foram efetivas nessa nova versão.</p>
    <div class="phones columns is-mobile">
      <div class="smartphone column">
      <figure class="image content">
        <img src="/assets/acalmar6.gif">
      </figure>
      </div>
      <div class="smartphone column">
      <figure class="image content">
        <img src="/assets/acalmar9.gif">
      </figure>
      </div>
      <div class="smartphone column">
      <figure class="image content">
        <img src="/assets/acalmar10.gif">
      </figure>
      </div>
    </div>
</div>
</div>
</section>
<app-footer></app-footer>
