<section class="hero intro">
  <div class="hero-body">
    <div class="container">
    <div class="columns">
      <div class="column is-4 photo">
            <figure class="image">
              <img src="/assets/renato.png">
            </figure>
        <div class="columns social-icons">
          <span class="nav-item">
          <a class="button is-small" href="https://www.behance.net/rpoulicer">
            <span class="icon is-small ">
               <i class="fa fa-behance" aria-hidden="true"></i>
            </span>
          </a>
      </span>
          <span class="nav-item">
      <a class="button is-small" href="https://dribbble.com/rpoulicer">
        <span class="icon is-small ">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </span>
      </a>
      </span>
          <span class="nav-item">
      <a class="button is-small" href="https://www.linkedin.com/in/renatopoulicer/" >
        <span class="icon is-white is-small ">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>
      </a>
      </span>
          <span class="nav-item">
      <a class="button is-small" href="https://medium.com/@renatopoulicer">
        <span class="icon is-small ">
               <i class="fa fa-medium" aria-hidden="true"></i>
        </span>
      </a>
      </span>
        </div>
        <p>Vamos contruir algo legal juntos?</p>
        <p>renato.angelopoulicer@gmail.com</p>
      </div>
      <div class="column">
        <h5 class="title is-5">Olá! Sou o Renato.</h5>
        <p>Sou apaixonado por UX, por design e por entender melhor as pessoas. Gosto de esboçar ideias em papel,
        resolvo problemas do cotidiano sempre pensando como designer e empatizando <3 . </p>
        <h6 class="title is-6">Atualmente</h6>
        <p>Atualmente curso MBA em design de Interação no IGTI,com TCC em andamento:  Design Emocional e Chatbots.</p>
          <p>Ah, Sou designer de interação no LIC(Lenovo Innovation Center).</p>
        <h6 class="title is-6">O início</h6>
        <p>Me aventurei no mundo de UX dois anos atrás,  tudo começou com um projeto sobre personas e mineração de dados
          Me apaixonei e comecei estudando no Coursera, Alura, Udacity:</p>

            <li>Design de Interação, Universidade de San Diego.
            <li>Formação em UX Design, Alura.
            <li>UX Design para dispositivos móveis, Alura.

         <h6 class="title is-6">Evangelizar,criar,inventar</h6>
        <p>Atualmente além de escrever sobre UX e design, tento cada vez mais evangelizar design em minha empresa, pros amigos
          E ah, tenho um buldogue francês que sempre come minhas canetas e meu caderno de esboços.</p>
      </div>

    </div>


    </div>
  </div>
</section>
