<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item " href="http://bulma.io">
    Renato Poulicer
    </a>

  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">

     <!-- <a class="navbar-item " href="#">
        <span class="bd-emoji">About me</span>
      </a>
      <a class="navbar-item " href="#">
        <span class="bd-emoji">Projects</span>
      </a>-->
    </div>
  </div>
</nav>
