
<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-brand" href="#">
        Renato Poulicer
      </a>
    </div>
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu">
      <span class="nav-item">
          <a class="button is-small" href="https://www.behance.net/rpoulicer">
            <span class="icon is-small ">
               <i class="fa fa-behance" aria-hidden="true"></i>
            </span>
          </a>
      </span>
      <span class="nav-item">
      <a class="button is-small" href="https://dribbble.com/rpoulicer">
        <span class="icon is-small ">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </span>
      </a>
      </span>
      <span class="nav-item">
      <a class="button is-small" href="https://www.linkedin.com/in/renatopoulicer/" >
        <span class="icon is-white is-small ">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>
      </a>
      </span>
      <span class="nav-item">
      <a class="button is-small" href="https://medium.com/@renatopoulicer">
        <span class="icon is-small ">
               <i class="fa fa-medium" aria-hidden="true"></i>
        </span>
      </a>
      </span>

    </div>
  </div>
</nav>
