<section class="section">
<div class="container">
<div class="content">
<h1>Explorando design de interação no contexto de IoT</h1>
<p>Esse texto foi desenvolvido baseado na vicência de um trabalho de Interface Homem máquina, onde se aplicou conceitos de design socialmente consciente, design de interação e IoT. Este trabalho dividido num grupo de cinco pessoas, o conteúdo aqui não foi feito todo por mim e em casos que isso ocorra será mencionado ao longo do texto.</p>
<h2>O problema</h2>
<p>O problema era simples, pensar em organização de ventos no contexto de IoT. Quer dizer, a descrição era simples e bastante ampla, no entanto tinhamos que pensar e como e porquê usar IoT para a organização de um evento.
  Desde o começo, nos preocupamos em não somente pensar em automatizar tarefas e criar algo que era puramente uma exploração tecnológica. Queriamos entender a estrutura de um evento e como poderiamos utilizar tecnologia para esse evento se tornar melhor.</p>

<h2>O contexto — Etapa de pré-design</h2>
<p>Meu grupo acabou focando em um evento real, o TDC. Este evento é uma conferência de tecnologia com foco em desenvolvimento de software que acontece no Brasil anualmente. Em 2016, tive a oportunidade de participar o que fortaleceu o conhecimento sobre o evento.Decidimos por usar este evento como base para a nossa solução.Reimaginamos como seria este evento num cenário com possibilidade de utilizar mais aparatos tecnológicos e com alguns processos automatizados.</p>
<img src=""/>
<h2>Clarificando a ideia</h2>
<p>Seguindo a prática participativa iniciamos pela etapa de pré-design, clarificando a ideia usando a cebola semiótica e o quadro semiótico.
  Foi possível com a cebola semiótica entender quais eram todas as partes envolvidas em nossa solução.</p>
  <figure class="image">
    <img src="/assets/cebola_semiotica.jpeg">
  </figure>
  <h2>Os problemas e as ideias</h2>
<p>Cada uma das partes interessadas têm problemas no contexto da ideia e cada um desses podem ser abordado de uma maneira. Utilizamos o quadro semiótico para explorar, para cada um dos stakeholders da cebola semiótica, quais seriam seus possíveis problemas e as possíveis ideias para resolvê-los.</p>
  <figure class="image">
    <img src="/assets/quadro_avaliacoes.jpeg">
  </figure>
<h2>O evento</h2>
<p>Como abordamos o TDC, utilizamos o que conhecíamos sobre a estrutura do evento e pensamos até em como seria a estrutura física.
Um mapa foi desenhado com uma possível alocação de ambientes, no entanto pensamos numa estrutura que pudesse ser adaptada a diversos espaços físicos e não dependendo de uma estrutura específica.
</p>
  <figure class="image">
    <img src="/assets/mapa_evento.jpeg">
  </figure>
<h2>Brain Drawing</h2>
<p>O brain drawing é uma técnica de prototipação colaborativa em que um grupo de pessoas trabalham em protótipos. Por exemplo, nosso grupo prototipou um dos displays inteligentes. Para isso usamos quatro folhas de papel a quatro divididas em sessões curtas de tempo, começavamos em uma folha e após isso moviamos para outra, no final tinhamos o numero de protótipos iguais ao número de pessoas que estavam prototipando.</p>
  <figure class="image">
    <img src="/assets/braindrawing.jpeg">
  </figure>
<h2>Storyboarding</h2>
<p>O storyborading foi utilizado como base para outros protótipos além de proporcionar uma ideia de como seriam as interações de nossos usuários e como cada artefato se comportaria.</p>
  <figure class="image">
    <img src="/assets/storyboarding.png">
  </figure>
  <h2>Design de interação no contexto de IoT</h2>
<p>Primeiramente, o que é IoT? Sem descrições longas vamos compreender um cenário no contexto de IoT como tendo:</p>
<ul>
<li>Pessoas — são os que vivenciam aquele cenário, falamos pessoas mas podem ser também outros seres vivos como nossos pets por exemplo.</li>
  <li>Coisas — qualquer item de nossa vida mundana, desde um lápis até uma geladeira e qualquer outro objeto que pode ser utilizado.</li>
 <li> Sensores-utilizados para perceber o cenário/ambiente e captar informações sobre este.</li>
<li>Processamento de dados — com as informações captadas algum processamento é feito e um resultado é devolvido ao ambiente em forma de interação.</li>
</ul>

<p>Nesse contexto temos três níveis de interação:</p>
<ul>
<li>Interação pessoa — pessoa:Interação direta entre pessoas, pode ser contato visual ou mesmo comunicação oral.</li>
 <li>Interação pessoa — coisa: Uma pessoa pressiona um botão, faz um gesto para um tela ou qualquer outra interação desse gênero.</li>
  <li>Interação coisa — coisa: por exemplo, um computador que envia uma notificação para a máquina de café sobre o número de pessoas que fez check in no totem, fazendo com que a máquina de café saibam da demanda que ela precisa atender.</li>
  <li> Interação pessoa — pessoa através de uma coisa: por exemplo, uma pessoa que procura na aplicação do evento por pessoas que se inscreveram nas mesmas palestras que ela e a partir disso envia uma mensagem para uma delas e começa a conversar.</li>
</ul>
  <h2>Design de um terminal de auto atendimento</h2>
  <p>Um dos pontos de interação de nossa solução foi um terminal de auto atendimento em que o usuário faria o check in no evento. Ele teria se cadastrado em casa e no cadastro poderia ter fornecido seus dados biométrico ou se identificar com algum documento oficial com foto. No momento do check in ele apenas registra sua presença no totem, retira suas credenciais e está pronto para participar do evento.
  Este item foi o quão desenvolvi o protótipo de baixo e alto nível. Começando por esboço em papel sulfite com caneta e partindo para um protótipo em alto nível no sketch e simulando a interação no Invision.
    A seguir pode ser conferir o resultado do terminal de auto atendimento.</p>

  <h2>Momento de reflexão</h2>
 <p> Durante todas as fases do projeto sempre houve discussão de valor da solução proposta. Pensamos sempre em como Internet das coisas e design de interação podem se unir e quais valores devemos considerar em nossa solução. A grande discussão, até que ponto devemos automatizar nossos processos sem matar a natureza da tarefa.
 </p>
  <h2>Conclusão</h2>
  <p>Foram quatro meses até a conclusão do processo, desde a fase de pré design até a fase de avaliação. Podemos dizer que a partir deste trabalho foi possível ter uma noção de como design participativo pode ser uma alternativa interessante para se construir com nossos usuários participando da solução.
  Foi possível também entender mais sobre Internet das coisas no contexto de IHC e pensar em construir soluções focando em pessoas e não meramente em aplicar a mais recente tecnologia possível.
  </p>
</div>
</div>
</section>
<app-footer></app-footer>
