// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
  // Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
  // Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

  // 3. Set the derived variables
  // Use the new pink as the primary color
$primary: #2196F3;
$blue: #1976D2;
$primary-invert: #448AFF;
  // Use the existing orange as the danger color
$danger: #fff;
  // Use the new serif family
$family-primary: $family-serif;

$modal-background-background-color: white;
  // 4. Import the rest of Bulma



html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;
  font-family: 'Lato', sans-serif;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  color: #424242;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}


@media (max-width: 700px) {

  .title-bar {
    justify-content: center;
  }
}

.title-bar{
  align-items: center;
  h1{
    margin: 0px !important;
  }

}
@import "~bulma";


