<section class="section">
<div class="container">
  <div class="content">
    <div class="columns title-bar is-mobile">
      <div class="column is-1 bar-back-arrow">
        <a class="button is-white" routerLink="">
        <span class="icon is-large ">
           <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </span>
        </a>
      </div>
      <div class="column is-11 bar-title ">
        <h1 class="title is-2">Lenovo Xclarity Administrator</h1>
      </div>
    </div>

    <h2>Contexto</h2>
    <p>Lenovo XClarity™ Administrator é um gerenciador de recursos de hardware que tem o intuito de reduzir complexidade e resposta de uso, melhorando a disponibilidade de sistemas e soluções Lenovo®. A aplicação dá suporte a hardware tais como servidores, storage e  switches.</p>
    <h2>Problema</h2>
    <p>A aplicação é modular e dentre suas funcionalidades existe o deploy de sistemas operacionais.Alguns sistemas operacionais são suportados e podem ser importados. Esta funcionalidade foi expandida para dar suporte a:
    </p>
    <ul>
      <li>Customização de imagens antes do deploy, adicionando drivers e arquivos de boot.</li>
      <li>Import de drivers e arquivos de boot.
      </li>
      <li>Import de sistemas operacionais, arquivos de boot e drivers através de servidores remotos:http, https, ftp and sftp.
      </li>
      <li>Suporte a arquivos de configuração para a customização de imagens.
      </li>
    </ul>
    <h2>Background do sistema</h2>
    <p>A aplicação era legada e já possuía uma identidade visual bem definida. Havia style guides que deveriam ser seguidas. A tecnologia utilizada era Dojo Toolkit, um framework de javascript, além de HTML e CSS. </p>
    <h2>Meu papel
    </h2>
    <p>Neste projeto atuei como designer de interação e desenvolvedor front-end. Propus a utilização da ferramenta Balsamiq Mockups, a qual utilizava para a criação de protótipos estáticos ou navegáveis que eram utilizados em discussões de projeto. Num segundo momento, atuava na implementação das funcionalidades representadas no mockup.
      O foco dos protótipos eram os fluxos, arquitetura da informação e o copywritIng. Meu papel se concentrava nos dois primeiros tendo contribuições no copywriting inicial, mas que eram revisados por uma escritora técnica localizada em outro time nos EUA. Havia constante interação por email e reuniões rápidas para discussões e ajustes.
    </p>
    <h2>Prototipação de interfaces</h2>
    <figure class="image">
      <img src="/assets/wireframes.png">
    </figure>
    <p>A proposta da utilização do Balsamiq foi determinante para o processo de prototipação, apesar de ser uma ferramenta com aparência rudimentar e que lembra sketches, a ferramenta permite ser ágil ao criar múltiplos mockups e dá suporte a transição simples de clique. Esta ferramenta foi utilizado pela natureza do projeto e também pelo sistema já ter uma identidade definida, não tendo como objetivo o design visual. O copywriting foi feito por um membro do time externo localizado nos EUA.</p>
    <figure class="image">
      <img src="/assets/process.png">
    </figure>
    <p>No começo de uma release assim se dava o processo de design
    </p>
    <ul>
      <li>Inicialmente recebia um documento descritivo sobre o projeto
      </li>
      <li>em seguida tinha uma semana para elaborar uma versão dos mockups.
      </li>
      <li>Haviam validações feitos pelo copywriter, pelos desenvolvedores de backend e  lider de componente.</li>
      <li>A partir daí se estendia uma discussão sobre estes em reuniões por skype ou por emails. </li>
    </ul>
    <p>Havia momentos em que nos reunimos com clientes, também por skype para conversas sobre os mockups e direção de produto. A rotina de reuniões e escopo do projeto eram instáveis o que fazia com que o uso da prototipação fosse intenso criando alternativas e realizando mudanças de maneira rápida e dinâmica.
    </p>
    <figure class="image">
      <img src="/assets/flow.png">
    </figure>
    <p>A validação era feitas com clientes e não havia um processo formal de testes de usabilidade. No entanto fazia testes seguindo a abordagem do it yourself(1) do Steve Krug.
    </p>
    <h2>Considerações sobre sistemas legados e UX
    </h2>
    <p>Um dos principais pontos interessantes sobre esse projeto foi poder enfrentar desafios de UX em projetos legados. Além de que fui assumindo o papel de designer ao longo do projeto, estendendo-se de uma release para a outra.
      Desafios de comunicação e negociação de requisitos geraram um grande aprendizado. Houve momentos em que decisões de design eram desafiadoras e limitadas pela tecnologia e também por conflitos com a style guide. Consegui aprender nesse projeto que consistência apesar de importante não deve ser mal utilizada e em que alguns momentos devemos nos lembrar que os artefatos precisam ser coerentes e responder a seguinte pergunta “Esse componente se encaixa nesse contexto, ele conversa com o restante?” e não simplesmente replicar botões e menus simplesmente porque nas outras telas têm.
    </p>
  </div>
</div>
</section>
<app-footer></app-footer>
