<!--hero section-->
<section class="hero intro">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
          <h1 class="title is-1">
            Interaction Designer
          </h1>
        </div>
      <div class="columns">
        <p class="subtitle is-4">
          Aficcionado por solucionar problemas através do design. Apaixonado por UX, gosto de <a href="https://medium.com/@renatopoulicer/o-design-do-meu-primeiro-workshop-sobre-design-thinking-91a2272eb0b7">evangelizar e escrever</a> sobre o assunto.
        </p>
      </div>
    </div>
  </div>
</section>


<!--<section class="section skills">-->
  <!--<div class="container">-->
    <!--<div class="columns">-->

      <!--<div class="column is-4 has-text-centered">-->
          <!--<span class="icon is-large ">-->
          <!--<i class="fa fa-sitemap" aria-hidden="true"></i>-->
          <!--</span>-->
        <!--<div class="content">-->
          <!--<h3 class="title"> Design de Interação</h3>-->
          <!--<p> Quando projeto um novo artefato digital, penso infimamente em como as pessoas o utilizarão, considerando seus objetivos e suas necessidades.</p>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="column is-4 has-text-centered">-->
          <!--<span class="icon is-large ">-->
            <!--<i class="fa fa-user is-large" aria-hidden="true"></i>-->
          <!--</span>-->
        <!--<div class="content">-->
          <!--<h3 class="title">Centrado no usuário</h3>-->
          <!--<p> Saber e entender as necessidades dos usuários está em minha filosofia, tento empregá-las no meu processo de design.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="column is-4 has-text-centered">-->
            <!--<span class="icon is-large ">-->
             <!--<i class="fa fa-pencil"></i>-->
            <!--</span>-->
        <!--<div class="content">-->
          <!--<h3 class="title">Design de Interfaces</h3>-->
          <!--<p> Sou um experimentador nato, desde ferramentas de prototipação a novos padrões de interface para mobile e web.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->


<section class="section projects">
  <div class="container">
    <h1 class = "title has-text-centered">Cases</h1>
    <div class="column">
      <div class="columns box-test" routerLink="saturn">
        <div class="column">
          <figure class="image is-5by3">
            <img src="/assets/saturno-login.png">
          </figure>
        </div>
        <div class="column">
          <h1 class="title is-4">Saturno</h1>
          <h2 class="subtitle is-6 is-small">UI/UX Designer</h2>
          <p>Uma ferramenta para a gestão da inovação em projetos de pesquisa e desenvolvimento através do monitoramento de atividades e alocação de horas e recursos ao longo do tempo.</p>
        </div>
      </div>
      <!--<div class="columns box-test" routerLink="tdc">-->
        <!--<div class="column">-->
          <!--<figure class="image is-2by2">-->
            <!--<img src="/assets/workshop.jpeg">-->
          <!--</figure>-->
        <!--</div>-->
        <!--<div class="column">-->
          <!--<h1 class="title is-4">Workshop de Design Thinking</h1>-->
          <!--<h2 class="subtitle is-6 is-small">Facilitador</h2>-->
          <!--<p>Com intuito de ensinar e vivenciar um pouco de design thinking, realizei um workshop com meus colegas de trabalhos-->
          <!--onde usamos design thinking e conceitos do design participativo para estudar um problema.</p>-->
        <!--</div>-->
      <!--</div>-->
      <div class="columns box-test" routerLink="deploy">
        <div class="column">
          <figure class="image is-5by4">
            <img src="/assets/deploy.png" class="deploy-image">
          </figure>
        </div>
        <div class="column">
          <h1 class="title is-4">Lenovo Xclarity</h1>
          <h2 class="subtitle is-6 is-small">Interaction Designer/front-end developer</h2>
          <p>Atuei em uma release do Xclarity, uma ferramenta de recursos de hardware. Utilizando tecnologia legada, foram
          adicionadas novas features de acordo com as necessidades dos clientes e usuários.</p>
        </div>
      </div>
      <div class="columns box-test" routerLink="calm">
        <div class="column">
        <figure class="image is-4by3">
          <img src="/assets/acalmar.png">
        </figure>
        </div>
        <div class="column">
          <h1 class="title is-4">Acalmar</h1>
          <h2 class="subtitle is-6 is-small">Designer de Interação</h2>
          <p>Neste desafio usamos design thinking e design participativo, para explorar o problema de ajudar pessoas com ansiedade
          Durante um semestre realizamos todo o processo de pesquisa, experimentação e ideação. </p>
        </div>
      </div>


    </div>

    </div>

</section>
<app-footer></app-footer>
